body {
  font-family: "Open Sans", sans-serif;
  background-color: #003e7e;
  background-size: cover;
}

.container {
  width:90%;
  max-width:420px;
  height: 95%;
  padding:10px;
  margin:0 auto;
  background-color: white;
  overflow-y: scroll;
  border: 5px solid lightgrey;
  border-radius: 4px;
  
}
/* these fade in */
h1 { font-weight:normal;}
h2 { font-weight:normal;}
h3 { font-weight:normal;}

.buttonContainer { 
  opacity: 0; 
  margin-bottom: 15px;
  border: 1px solid grey;
  border-radius: 4px 4px 0px 0px;
  padding: 4px 0px 0px 4px;
  background: lightgray;
}

.buttonContainer .btn {
  border-radius: 4px 4px 0px 0px;
  box-shadow: none;
  outline: none;
}

.bridgeContent {
  border:1px solid lightgray;
  border-top:0px;
  border-radius:5px;
}

.logo { width: 175px; margin-left: 105px; float:right; margin-top:10px; margin-right:5px;}
.bridgeIcon { width: 50px;}
.monitorToggle { cursor: pointer;}
.monitorIcon { width: 40px; position: relative; top: 13px;}

.lightsContainer { width: 15px; margin: 100px auto;}
.light {background-color: rgb(243, 169, 10); border: 1px solid #f5f11e; border-radius: 50%;
  width: 15px; height: 15px; min-width: 15px; min-height: 15px; margin-right:5px; margin-bottom: 15px; 
}

.blinker1 {
  animation: blink-animation 1.25s steps(5, start) 1;
  -webkit-animation: blink-animation 1.25s steps(5, start) 1;
}
.blinker2 {
  animation: blink-animation 1.5s steps(5, start) 1;
  -webkit-animation: blink-animation 1.5s steps(5, start) 1;
}
.blinker3 {
  animation: blink-animation 1.75s steps(5, start) 1;
  -webkit-animation: blink-animation 1.75s steps(5, start) 1;
}

@keyframes blink-animation { 50% { opacity: 0.0; background-color: #f5f11e;} }
@-webkit-keyframes blink-animation { 50% { opacity: 0.0; background-color: #f5f11e;} }

.small {font-size: .5em;}
button {line-height: 20px; border-radius: 4px;}
ul { list-style:none; padding: 0px; }
li { margin: 0px 0px 5px; }

.wifiList {
  padding: 0px 20px;
}

.wifiList li {
  background: #3D94F6;
  background-image: linear-gradient(to bottom, #3D94F6, #003e7e);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 8px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; visibility: visible;}
}

@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; visibility: hidden;}
}

.fade-in { animation: fadeIn ease 2s forwards; animation-delay: 1s}

.fade-out { animation: fadeOut ease 2s forwards; animation-delay: 2s}

.faded-in { opacity:1; visibility: visible; }

.faded-out { opacity:0; visibility: hidden; }

@keyframes expandBridge {
  0% { max-width:420px; }
  100% { max-width:840px;}
}

.expand-bridge { animation: expandBridge 1s forwards; animation-delay: 1s;}
.expanded-bridge { max-width: 840px;}

#output {
  padding: 0px 15px;
  overflow-x: scroll;
}

.ipList {
  overflow: scroll;
}

.devInfoDetail {
  font-size: 12;
  font-family: monospace;
}

.btn {
  background: #3D94F6;
  background-image: linear-gradient(to bottom, #3D94F6, #003e7e);
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 5px;
  box-shadow: 1px 1px 2px 0px #000000;
  text-shadow: 1px 1px 2px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}  

.btn:hover {
  background: #1E62D0;
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  text-decoration: none;
}

.btn:disabled {
  background: rgb(86, 86, 87);
  background-image: linear-gradient(to bottom, rgb(86, 86, 87), rgb(176, 177, 179));
  text-decoration: none;
  border: solid #000000 1px;
  cursor: none;
}

.btn-sm {
  border-radius: 4px;
  font-size: 12px;
  font-weight: 100;
  padding: 2px 5px;
  box-shadow: 0px 0px 0px 0px #FFFFFF;
}

.active {
  color: #003e7e;
  background: white;
  text-shadow: none;
}

.active:hover {
  background: rgb(179, 181, 184);
  background-image: linear-gradient(to bottom, rgb(86, 86, 87), rgb(176, 177, 179));
  text-decoration: none;
  color: white;
}

.txtin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 100;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px lightgrey;
  margin: 5px 15px;
  width: 150px;
}
.txtin-lg {
  width: 400px;
}

select {
  font-size: 14px;
  margin-left: 10px;
}

@media only screen and (max-width: 420px) {
  .container {
    width:95%;
    height:92%;
    padding:5px;
  }
  .bridgeContent {
    min-height: 86%;
  }

  .txtin-lg {
    max-width:100%;
  }
}

.popupFormOverlayContainer {
  position: absolute;
  background-color: rgba(0, 62, 126, 0.58);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.popUpForm {
  margin: 35px auto;
  width: 20%;
  min-width: 300px;
  background: white;
  padding: 15px;
  text-align: center;
  border: 2px solid #003e7e;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 1px #003e7e;
}

.popUpForm .buttons {
  margin-top:10px;
}

.popUpForm input[type=password] {
  width: 95%;
  border: 3px inset;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  line-height: 20px;
}

.popUpForm .buttons .btn {
  margin:0px 10px;
}

.popUpForm .note {
  background-color: #f90505;
  color: white;
  padding: 9px;
  border-radius: 7px 7px 0px 0px;
}

.fieldError {
  color: #f90505;
  font-size:12px;
}

.fieldGood{
  color:#1bea1b;
  margin-left:5px;
  font-size:20px;
}

.connected{
  color: #faff65;
}

.hardwareIdListItem {
  color: #003e7e;
  cursor: pointer;
}

/* .hardwareIdListItem-inactive::after {
  content: "\0271A";
  font-size:12px;
}

.hardwareIdListItem-active::after {
  content: "\02716";
  font-size:12px;
} */

.hardwareIdListItem-active::after {
  content: "\02716";
  font-size:12px;
}

.monitorstats {
  font-size: 12px;
  max-width:300px;
  margin-bottom: 10px;
}

.monitorstats ul {
  padding-left: 10px;
  font-size: 12px;
  max-width:300px;
}

.refresher {
  float:right;
  color: #003e7e;
  cursor: pointer;
  padding-right:10px;
  font-size:26px;
  transform: rotate(40deg);
  font-weight: lighter;
}